/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
yarn-error.log
/.idea
/.vscode
/old
composer.copy.json
composer.copy.lock
package.copy.json
package-lock.copy.json
to-do.txt
/storage/debugbar
